In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [2]:
dff = pd.read_csv(r"C:\Users\hugoe\Downloads\Proyecto_final\Final_unido.csv")
dff

,country,InstagramUsers_2024,InstagramUsers_PctFemale_2024,InstagramUsers_PctMale_2024,InstagramUsers2023,Log GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices
0,India,392465000.0,33.1,66.9,229600000,1.166,0.653,0.417,0.767
1,United States,172606200.0,55.4,44.6,143400000,1.939,1.392,0.542,0.586
2,Indonesia,90183200.0,54.2,45.8,89150000,1.361,1.184,0.472,0.779
3,Pakistan,18593301.0,35.1,64.9,12950000,1.069,0.600,0.321,0.542
4,Nigeria,12635900.0,46.5,53.5,7100000,1.042,1.075,0.256,0.566
...,...,...,...,...,...,...,...,...,...
127,Comoros,27001.0,31.9,68.1,21000,0.896,0.328,0.370,0.172
128,Luxembourg,304800.0,53.2,46.8,241400,2.141,1.355,0.708,0.801
129,Montenegro,421100.0,53.7,46.3,350900,1.571,1.318,0.587,0.632
130,Malta,276200.0,49.0,51.0,219700,1.827,1.444,0.707,0.727
131,Iceland,223300.0,55.8,44.2,199100,1.881,1.617,0.718,0.819

In [3]:
dff.country.unique()

array(['India', 'United States', 'Indonesia', 'Pakistan', 'Nigeria',
       'Brazil', 'Bangladesh', 'Ethiopia', 'Mexico', 'Japan', 'Egypt',
       'Philippines', 'Vietnam', 'Germany', 'Thailand', 'United Kingdom',
       'Tanzania', 'France', 'South Africa', 'Italy', 'Kenya', 'Myanmar',
       'Colombia', 'South Korea', 'Uganda', 'Spain', 'Algeria', 'Iraq',
       'Argentina', 'Afghanistan', 'Yemen', 'Canada', 'Poland', 'Morocco',
       'Ukraine', 'Uzbekistan', 'Malaysia', 'Mozambique', 'Ghana', 'Peru',
       'Saudi Arabia', 'Madagascar', 'Ivory Coast', 'Nepal', 'Cameroon',
       'Venezuela', 'Niger', 'Australia', 'Mali', 'Burkina Faso',
       'Sri Lanka', 'Malawi', 'Zambia', 'Kazakhstan', 'Chad', 'Chile',
       'Romania', 'Senegal', 'Guatemala', 'Netherlands', 'Ecuador',
       'Cambodia', 'Zimbabwe', 'Guinea', 'Benin', 'Bolivia', 'Tunisia',
       'Belgium', 'Jordan', 'Dominican Republic', 'United Arab Emirates',
       'Honduras', 'Sweden', 'Tajikistan', 'Portugal', 'Azerbaijan',
       'Greece', 'Hungary', 'Togo', 'Israel', 'Austria', 'Switzerland',
       'Sierra Leone', 'Laos', 'Libya', 'Kyrgyzstan', 'Paraguay',
       'Nicaragua', 'Bulgaria', 'Serbia', 'El Salvador', 'Denmark',
       'Singapore', 'Lebanon', 'Finland', 'Liberia', 'Norway', 'Slovakia',
       'Ireland', 'New Zealand', 'Mauritania', 'Costa Rica', 'Kuwait',
       'Panama', 'Croatia', 'Georgia', 'Mongolia', 'Uruguay',
       'Bosnia and Herzegovina', 'Moldova', 'Namibia', 'Armenia',
       'Lithuania', 'Jamaica', 'Albania', 'Gambia', 'Gabon', 'Botswana',
       'Lesotho', 'Slovenia', 'Latvia', 'North Macedonia', 'Bahrain',
       'Estonia', 'Cyprus', 'Mauritius', 'Eswatini', 'Comoros',
       'Luxembourg', 'Montenegro', 'Malta', 'Iceland'], dtype=object)

In [4]:
population_data = {
    "India": 1_428_627_663,
    "United States": 334_421_883,
    "Indonesia": 281_529_456,
    "Pakistan": 248_440_726,
    "Nigeria": 240_120_715,
    "Brazil": 216_919_163,
    "Bangladesh": 173_766_723,
    "Ethiopia": 127_419_470,
    "Mexico": 129_959_580,
    "Japan": 122_128_332,
    "Egypt": 112_716_781,
    "Philippines": 117_337_368,
    "Vietnam": 100_763_940,
    "Germany": 83_874_509,
    "Thailand": 71_802_984,
    "United Kingdom": 68_281_673,
    "Tanzania": 67_464_093,
    "France": 64_506_388,
    "South Africa": 61_243_150,
    "Italy": 59_013_028,
    "Kenya": 56_614_949,
    "Myanmar": 55_172_204,
    "Colombia": 52_901_156,
    "South Korea": 51_760_429,
    "Uganda": 48_582_334,
    "Spain": 47_836_732,
    "Algeria": 46_856_373,
    "Iraq": 45_891_776,
    "Argentina": 46_148_495,
    "Afghanistan": 42_239_430,
    "Yemen": 34_803_178,
    "Canada": 39_065_844,
    "Poland": 37_442_651,
    "Morocco": 37_133_938,
    "Ukraine": 35_514_899,
    "Uzbekistan": 35_364_574,
    "Malaysia": 34_592_936,
    "Mozambique": 34_141_164,
    "Ghana": 33_392_698,
    "Peru": 34_494_392,
    "Saudi Arabia": 36_038_569,
    "Madagascar": 30_322_765,
    "Ivory Coast": 29_767_345,
    "Nepal": 30_111_486,
    "Cameroon": 29_108_743,
    "Venezuela": 28_223_904,
    "Australia": 26_611_281,
    "Mali": 25_668_952,
    "Burkina Faso": 24_835_043,
    "Sri Lanka": 23_812_682,
    "Malawi": 21_849_786,
    "Zambia": 20_642_943,
    "Kazakhstan": 20_017_387,
    "Chad": 18_766_856,
    "Chile": 18_669_431,
    "Romania": 17_778_634,
    "Senegal": 17_570_657,
    "Guatemala": 17_458_840,
    "Netherlands": 17_912_823,
    "Ecuador": 18_364_405,
    "Cambodia": 17_168_640,
    "Zimbabwe": 16_942_425,
    "Guinea": 14_123_763,
    "Benin": 14_227_023,
    "Bolivia": 12_354_407,
    "Tunisia": 12_606_819,
    "Belgium": 11_727_752,
    "Jordan": 11_408_752,
    "Dominican Republic": 11_474_900,
    "United Arab Emirates": 9_622_465,
    "Honduras": 10_827_973,
    "Sweden": 10_698_752,
    "Portugal": 10_212_835,
    "Azerbaijan": 10_482_334,
    "Greece": 10_286_294,
    "Hungary": 9_943_275,
    "Togo": 9_348_070,
    "Israel": 9_368_789,
    "Austria": 8_984_216,
    "Switzerland": 8_873_589,
    "Sierra Leone": 9_056_057,
    "Laos": 7_779_024,
    "Libya": 6_995_107,
    "Kyrgyzstan": 6_882_553,
    "Paraguay": 6_982_300,
    "Nicaragua": 7_182_022,
    "Bulgaria": 6_596_355,
    "Serbia": 7_080_093,
    "El Salvador": 6_408_764,
    "Denmark": 5_951_684,
    "Singapore": 6_068_056,
    "Lebanon": 5_168_444,
    "Finland": 5_551_594,
    "Liberia": 5_587_065,
    "Norway": 5_531_140,
    "Slovakia": 5_674_583,
    "Ireland": 5_102_557,
    "New Zealand": 5_286_920,
    "Mauritania": 5_260_667,
    "Costa Rica": 5_260_667,
    "Kuwait": 4_816_343,
    "Panama": 4_524_577,
    "Croatia": 4_074_968,
    "Georgia": 3_734_777,
    "Mongolia": 3_459_281,
    "Uruguay": 3_555_682,
    "Bosnia and Herzegovina": 3_208_601,
    "Moldova": 2_595_596,
    "Namibia": 2_648_192,
    "Armenia": 2_816_642,
    "Lithuania": 2_659_372,
    "Jamaica": 2_758_444,
    "Albania": 2_812_725,
    "Gambia": 2_774_922,
    "Gabon": 2_431_535,
    "Botswana": 2_681_773,
    "Lesotho": 2_330_992,
    "Slovenia": 2_102_436,
    "Latvia": 1_840_441,
    "North Macedonia": 1_835_496,
    "Bahrain": 1_955_000,
    "Estonia": 1_319_331,
    "Cyprus": 1_263_708,
    "Mauritius": 1_304_467,
    "Eswatini": 1_183_561,
    "Comoros": 872_748,
    "Luxembourg": 654_768,
    "Montenegro": 619_211,
    "Malta": 514_974,
    "Iceland": 383_346,
}

In [5]:
dff['Population'] = dff['country'].map(population_data)
dff

,country,InstagramUsers_2024,InstagramUsers_PctFemale_2024,InstagramUsers_PctMale_2024,InstagramUsers2023,Log GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Population
0,India,392465000.0,33.1,66.9,229600000,1.166,0.653,0.417,0.767,1.428628e+09
1,United States,172606200.0,55.4,44.6,143400000,1.939,1.392,0.542,0.586,3.344219e+08
2,Indonesia,90183200.0,54.2,45.8,89150000,1.361,1.184,0.472,0.779,2.815295e+08
3,Pakistan,18593301.0,35.1,64.9,12950000,1.069,0.600,0.321,0.542,2.484407e+08
4,Nigeria,12635900.0,46.5,53.5,7100000,1.042,1.075,0.256,0.566,2.401207e+08
...,...,...,...,...,...,...,...,...,...,...
127,Comoros,27001.0,31.9,68.1,21000,0.896,0.328,0.370,0.172,8.727480e+05
128,Luxembourg,304800.0,53.2,46.8,241400,2.141,1.355,0.708,0.801,6.547680e+05
129,Montenegro,421100.0,53.7,46.3,350900,1.571,1.318,0.587,0.632,6.192110e+05
130,Malta,276200.0,49.0,51.0,219700,1.827,1.444,0.707,0.727,5.149740e+05
131,Iceland,223300.0,55.8,44.2,199100,1.881,1.617,0.718,0.819,3.833460e+05

In [6]:
dff['Percentage'] = (dff['InstagramUsers_2024'] / dff['Population']) * 100

dff

,country,InstagramUsers_2024,InstagramUsers_PctFemale_2024,InstagramUsers_PctMale_2024,InstagramUsers2023,Log GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Population,Percentage
0,India,392465000.0,33.1,66.9,229600000,1.166,0.653,0.417,0.767,1.428628e+09,27.471469
1,United States,172606200.0,55.4,44.6,143400000,1.939,1.392,0.542,0.586,3.344219e+08,51.613309
2,Indonesia,90183200.0,54.2,45.8,89150000,1.361,1.184,0.472,0.779,2.815295e+08,32.033309
3,Pakistan,18593301.0,35.1,64.9,12950000,1.069,0.600,0.321,0.542,2.484407e+08,7.483999
4,Nigeria,12635900.0,46.5,53.5,7100000,1.042,1.075,0.256,0.566,2.401207e+08,5.262312
...,...,...,...,...,...,...,...,...,...,...,...
127,Comoros,27001.0,31.9,68.1,21000,0.896,0.328,0.370,0.172,8.727480e+05,3.093791
128,Luxembourg,304800.0,53.2,46.8,241400,2.141,1.355,0.708,0.801,6.547680e+05,46.550839
129,Montenegro,421100.0,53.7,46.3,350900,1.571,1.318,0.587,0.632,6.192110e+05,68.005898
130,Malta,276200.0,49.0,51.0,219700,1.827,1.444,0.707,0.727,5.149740e+05,53.633776
131,Iceland,223300.0,55.8,44.2,199100,1.881,1.617,0.718,0.819,3.833460e+05,58.250249

In [7]:
dff.to_csv("dff.csv", index=False)